In [1]:
#Machine Learning on Sentiment Analysis
import pyprind
import pandas as pd
import os
import sys

In [11]:
basepath = '/home/pranav/Documents/ScikitAndPytorch/aclImdb'

In [41]:
labels = {'pos':1, 'neg':0} 

pbar = pyprind.ProgBar(50000, stream=sys.stdout)

df = pd.DataFrame()

dataFrameList = []

for s in ('test', 'train'):
    for l in ('pos', 'neg'):
        path = os.path.join(basepath, s, l)
        
        for file in sorted(os.listdir(path)):
            infile = open(os.path.join(path, file))
            txt = infile.read()
            dataFrameList.append([txt, labels[l]])
            
            pbar.update()

0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:01

In [44]:
df = pd.DataFrame(data=dataFrameList, columns=['Review', 'Sentiment'])

In [45]:
df

                                                  Review  Sentiment
0      I went and saw this movie last night after bei...          1
1      Actor turned director Bill Paxton follows up h...          1
2      As a recreational golfer with some knowledge o...          1
3      I saw this film in a sneak preview, and it is ...          1
4      Bill Paxton has taken the true story of the 19...          1
...                                                  ...        ...
49995  Towards the end of the movie, I felt it was to...          0
49996  This is the kind of movie that my enemies cont...          0
49997  I saw 'Descent' last night at the Stockholm Fi...          0
49998  Some films that you pick up for a pound turn o...          0
49999  This is one of the dumbest films, I've ever se...          0

[50000 rows x 2 columns]

In [46]:
import numpy as np
np.random.seed(0)

df = df.reindex(np.random.permutation(df.index))
df.to_csv('movie_data.csv', index=False, encoding = 'utf-8')

In [47]:
df.head()

                                                  Review  Sentiment
11841  In 1974, the teenager Martha Moxley (Maggie Gr...          1
19602  OK... so... I really like Kris Kristofferson a...          0
45519  ***SPOILER*** Do not read this, if you think a...          0
25747  hi for all the people who have seen this wonde...          1
42642  I recently bought the DVD, forgetting just how...          0

In [48]:
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
count = CountVectorizer()

(50000, 2)

In [28]:
basepath2 = '/home/pranav/Documents/ScikitAndPytorch/aclImdbsample/'

In [30]:
masterList = []

for s in ('test', 'train'):
    for l in ('pos', 'neg'):
        path = os.path.join(basepath2, s, l)
        
        for file in sorted(os.listdir(path)):
            infile = open(os.path.join(path,file))
            txt = infile.read()
            masterList.append([txt, l])

In [31]:
masterList[0]

["I went and saw this movie last night after being coaxed to by a few friends of mine. I'll admit that I was reluctant to see it because from what I knew of Ashton Kutcher he was only able to do comedy. I was wrong. Kutcher played the character of Jake Fischer very well, and Kevin Costner played Ben Randall with such professionalism. The sign of a good movie is that it can toy with our emotions. This one did exactly that. The entire theater (which was sold out) was overcome by laughter during the first half of the movie, and were moved to tears during the second half. While exiting the theater I not only saw many women in tears, but many full grown men as well, trying desperately not to let anyone see them crying. This movie was great, and I suggest that you go see it before you judge.",
 'pos']

In [33]:
df_trial = pd.DataFrame(data=masterList, columns=['review', 'sentiment'])

In [36]:
df_trial['review']

0     I went and saw this movie last night after bei...
1     If you had asked me how the movie was througho...
2     I was looking forward to The Guardian, but whe...
3     I was pleasantly surprised to find this movie ...
4     My boyfriend and I went to watch The Guardian....
5     My yardstick for measuring a movie's watch-abi...
6     How many movies are there that you can think o...
7     This movie was sadly under-promoted but proved...
8     I only went to see this movie because I have a...
9     I was fortunate enough to see this movie on pr...
10    Our family (and the entire sold out sneak prev...
11    I'm a Petty Officer 1st Class (E-6) and have b...
12    I've seen this story before but my kids haven'...
13    Once again Mr. Costner has dragged out a movie...
14    Years ago, when DARLING LILI played on TV, it ...
15    Julie Andrews satirically prods her own goody-...
16    This is a pale imitation of 'Officer and a Gen...
17    It seems ever since 1982, about every two or t...
18    Wow, another Kevin Costner hero movie. Postman...
19    Alas, another Costner movie that was an hour t...
20    I wish I knew what to make of a movie like thi...
21    A tough sell: British playwright Ronald Harwoo...
22    Blake Edwards' legendary fiasco, begins to see...
23    I'm not a big fan of musicals, although this t...
24    David Bryce's comments nearby are exceptionall...
25    Bromwell High is a cartoon comedy. It ran at t...
26    If you like adult comedy cartoons, like South ...
27    Bromwell High is nothing short of brilliant. E...
28    "All the world's a stage and its people actors...
29    FUTZ is the only show preserved from the exper...
30    I came in in the middle of this film so I had ...
31    Fair drama/love story movie that focuses on th...
32    Although I didn't like Stanley & Iris tremendo...
33    Very good drama although it appeared to have a...
34    Story of a man who has unnatural feelings for ...
35    This film had a lot of promise, and the plot w...
36    Robert DeNiro plays the most unbelievably inte...
37    I saw the capsule comment said "great acting."...
38    If I had not read Pat Barker's 'Union Street' ...
39    This fanciful horror flick has Vincent Price p...
40    I basically skimmed through the movie but just...
41    From the beginning of the movie, it gives the ...
42    This is really a new low in entertainment. Eve...
43    6/10 Acting, not great but some good acting.<b...
44    This is one of the dumbest films, I've ever se...
Name: review, dtype: object

In [23]:
sorted(os.listdir(path))[0]

'0_10.txt'

In [24]:
infile = open(os.path.join(path, sorted(os.listdir(path))[0]), 'r', encoding='utf-8')

txt = infile.read()

In [26]:
[txt, 'pos']

["I went and saw this movie last night after being coaxed to by a few friends of mine. I'll admit that I was reluctant to see it because from what I knew of Ashton Kutcher he was only able to do comedy. I was wrong. Kutcher played the character of Jake Fischer very well, and Kevin Costner played Ben Randall with such professionalism. The sign of a good movie is that it can toy with our emotions. This one did exactly that. The entire theater (which was sold out) was overcome by laughter during the first half of the movie, and were moved to tears during the second half. While exiting the theater I not only saw many women in tears, but many full grown men as well, trying desperately not to let anyone see them crying. This movie was great, and I suggest that you go see it before you judge.",
 'pos']